@import "/src/scss/fonts";
@import "/src/scss/sizes";
@import "/src/scss/colors";

.cards_data {
    width: 100%;
    max-width: 150rem;
    padding: 2.3rem;
    margin: {
        bottom: 2.5rem;
    }
    display: flex;
    flex: {
        direction: column;
    }

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    align-items: center;
    border: 1px solid #8cb8d1;
    border-radius: 1.6rem;
    gap: 1rem;
    object-fit: cover;
    transition: 0.5s;
}
