@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,600;1,700&display=swap");
@import "../../scss/colors";
@import "../../scss/sizes";
@import "../../scss/mixins";
@import "../../scss/fonts";

main {
    display: flex;
    font-size: $m;
    padding: 3rem 1rem;
    justify-content: center;
    height: auto;
    .article_cards {
        width: 100%;
        box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: 0.4);
    }

    a {
        color: $dblue;
        text-decoration: none;
    }

    h3 {
        font-size: $l;
        color: $dblue;
        text-align: center;
    }
    .contact_data p {
        margin: 2px;
    }
    .weg_beschreibung li {
        list-style-type: disc;
    }
    .attention p {
        font-size: $l;
        font-weight: bold;
        color: red;
        margin-bottom: 0;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        h3 {
            font-size: $l;
            color: $dblue;
            text-align: center;
        }
        .inputs_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            textarea {
                resize: none;
            }
            label {
                display: none;
            }

            input {
                height: 32px;
                width: 240px;
                margin: 15px;
                padding: 0px 25px;
                border-radius: 10px;
                border: 1px solid $dblue;
                box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.212);
                font-size: 20px;
                transition: 0.2s;
                &:hover {
                    background-color: $grey;
                }
                &:focus {
                    background-color: $grey;
                    outline: none;
                    width: 265px;
                }
            }
            @media (min-width: 992px) {
                textarea {
                    width: 100%;
                    height: 155px;
                }
            }
        }
        button {
            height: 40px;
            width: 140px;
            border-radius: 1000px;
            border: none;
            color: white;
            font-family: sans-serif;
            font-size: 22px;
            background: $dblue;
            transition: 0.2s;
            margin-top: 10px;
        }
        button:hover {
            width: 200px;
        }
        button:focus {
            outline: none;
            width: 200px;
        }
        .big {
            width: 500px;
        }
    }
    @media (min-width: 992px) {
        max-width: 100%;
        width: 100%;

        .welcome {
            display: block;
        }
        .information {
            height: auto;
            flex-flow: row wrap;
            iframe {
                width: 80%;
            }
            .article_cards {
                height: 400px;
                width: 300px;
            }
        }
    }
}
