@import "/src/scss/fonts";
@import "/src/scss/sizes";
@import "/src/scss/colors";
@import "/src/scss/mixins";

.main-container {
    .welcome-circle-picture {
        height: 150px;
        width: 150px;
        overflow: hidden;
        border-radius: 50%;
        border: 4px solid $dblue;
        margin: {
            top: 3.2rem;
        }

        .welcome-image {
            width: 100%;
            height: 100%;
        }
    }
    .welcome {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .text_container_top {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            @media (min-width: 992px) {
                flex-flow: row;

                .text_container {
                    width: 80%;
                }
            }
        }
    }
}
