@import "../../scss/fonts";
@import "../../scss/sizes";
@import "../../scss/colors";
@import "../../scss/mixins";

footer{
    font-size: $m;
    text-align: center;
    background-color: $grey;
    display: flex;
    flex-direction: column;
    padding: $xs;
    width: 100%;

    .footer_icons{
        display:flex;
        justify-content: center;
        font-size: $xxl;
        gap: 5rem;
        margin-bottom: 10px;

        .icons{
            color: $dblue
        }
    }
    Link{
        padding: 5px;
        text-decoration: none;
        color: $dblue;
        font: {
            weight: 700;
        }
    }

}