@import "../../scss/fonts";
@import "../../scss/sizes";
@import "../../scss/colors";
@import "../../scss/mixins";

main {
    article {
        ul {
            li {
                list-style-type: disc;
                a {
                    text-decoration: none;
                    color: $dblue;
                    font: {
                        weight: 700;
                    }
                }
            }
        }
    }
    @media (min-width: 992px) {
        // justify-content: flex-start;
        article {
            h2 {
                margin-bottom: 3rem;
            }
            p {
                margin-bottom: 3rem;
            }
            ul {
                li {
                    line-height: 4rem;
                }
            }
        }
    }
}
