@import "/src/scss/fonts";
@import "/src/scss/sizes";
@import "/src/scss/colors";

.praxis-section-container {
    @media (min-width: 992px) {
        display: flex;
        justify-content: center;
        gap: 3rem;
        margin: {
            bottom: 2.5rem;
        }
        .img_zwei {
            margin: {
                bottom: 2.5rem;
            }
        }
    }
}
