main {
    a {
        text-decoration: none;
        color: $dblue;
        font: {
            weight: 700;
        }
    }
    .praxis-text {
        width: auto;
        display: flex;
        flex-flow: column;
        align-items: center;
        p:first-of-type {
            padding-top: 2rem;
        }
    }
    .text_container_top {
        width: 100%;
    }
    .article_cards {
        box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: 0.4);

        @media (min-width: 992px) {
            .image-container {
                width: 400px !important;
                height: 400px !important;
            }
        }
        ul {
            margin: 0;
            padding: 0;
        }
        overflow: auto;
    }
}
