@import "/src/scss/fonts";
@import "/src/scss/sizes";
@import "/src/scss/colors";
@import "/src/scss/mixins";


h3 {
    text-align: center;
}

.paraImpr {
    font-family: MontserratSemiBold;
}

.einrückImpr {
    text-align: center;
}
// .dataprotection-list-container {
// }
