@font-face {
    font-family: MontserratRegular;
    src: url(/src/assets/fonts/Montserrat/Montserrat-Regular.ttf)
        format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: MontserratItalic;
    src: url(/src/assets/fonts/Montserrat/Montserrat-Italic.ttf)
        format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: MontserratMedium;
    src: url(/src/assets/fonts/Montserrat/Montserrat-Medium.ttf)
        format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: MontserratMediumItalic;
    src: url(/src/assets/fonts/Montserrat/Montserrat-MediumItalic.ttf)
        format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: MontserratSemiBold;
    src: url(/src/assets/fonts/Montserrat/Montserrat-SemiBold.ttf)
        format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: MontserratSemiBoldItalic;
    src: url(/src/assets/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf)
        format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: MontserratBold;
    src: url(/src/assets/fonts/Montserrat/Montserrat-Bold.ttf)
        format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: MontserratBoldItalic;
    src: url(/src/assets/fonts/Montserrat/Montserrat-BoldItalic.ttf)
        format("truetype");
    font-weight: 700;
}
