@import "./fonts";
@import "./sizes";
@import "./colors";
@import "./mixins";

:root {
    font: {
        size: 62.5%;
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body {
    height: 100vh;
    font: {
        size: $m;
        family: MontserratRegular, sans-serif;
    }
}
.main-container {
    width: 100%;
    margin: {
        top: 4px;
    }
    display: flex;
    padding: 3rem 1rem;
}
footer {
    outline: 1px solid;
}
.main-title {
    color: $dblue;
}
.sub-head {
    text-align: center;
    font-size: $xxl;
    color: $dblue;
    text-decoration: underline;
}
.paragraph {
    font: {
        size: $m;
    }
}
.site-links {
    text-decoration: none;
    color: $dblue;
    font: {
        weight: 700;
    }
}
