// Shared Variables
@import "./fonts";
@import "./sizes";
@import "./colors";
@import "./mixins";
// Components
@import "../components/Footer/footer.scss";
@import "../components/Navbar/nav.scss";
@import "../components/ArtikelCard/artikelCard.scss";
@import "../components/Herosection/herosection.scss";
// Pages
@import "../pages/Home/home.scss";
@import "../pages/NotFound/notfound.scss";
@import "../pages/Impressum/impressum.scss";
@import "../pages/DataProtection/dataProtection.scss";

/*
// Siehe _fonts.scss \\
Font Families die benutzt werden können:
MontserratRegular
MontserratItalic
MontserratMedium
MontserratMediumItalic
MontserratSemiBold
MontserratSemiBoldItalic
MontserratBold
MontserratBoldItalic
*/

/*
Basis werte hier stylen.
(also sowas wie body, h1 etc)
individulle stylings in den component/pages spezifischen scss
dateien machen und oben an der entsprechenden stelle importieren
*/
:root {
    font: {
        size: 62.5%;
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body {
    height: 100vh;
    font: {
        size: $m;
        family: MontserratRegular, sans-serif;
    }
    // display: flex;
    // flex: {
    //     direction: column;
    // }
    // align-items: center;
}
.main-container {
    // display: flex;
    outline: 1px solid;
    display: flex;
    // position: relative;
    // top: 5rem;
    padding: 3rem 1rem;
    // justify-content: center;

    a {
        color: $dblue;
    }
}
footer {
    outline: 1px solid;
    position: relative;
    top: 100vh;
}
// .main-title {
//     // h1
// }
// .sub-head {
//     // h2
// }
// .paragraph {
//     // p
// }
// .buttons {
//     // buttons
// }
// .site-links {
//     // link
// }
// .contact-links {
//     // a
// }
// .images {
//     // img
// }
