@import "./fonts";
@import "./sizes";
@import "./colors";
@import "./mixins";

:root {
    font: {
        size: 62.5%;
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body {
    height: 100vh;
    font: {
        size: $m;
        family: MontserratRegular, sans-serif;
    }
}
.main-container {
    width: 100%;
    margin: {
        top: 4px;
    }
    display: flex;
    flex: {
        direction: column;
    }
    padding: 0 1rem;
}
.main-title {
    color: $dblue;
}
footer {
    width: 100%;
    background-color: $grey;
    text-align: center;
    padding: $xs;
    .site-links {
        padding: {
            right: $xs;
            left: $xs;
        }
    }
}
.sub-head {
    font: {
        size: $xxl;
    }
    padding: {
        top: 2rem;
        bottom: 2rem;
    }
    color: $dblue;
}
.paragraph {
    font: {
        size: $m;
    }
}
.site-links {
    text-decoration: none;
    color: $dblue;
    font: {
        family: MontserratBold;
    }
}
