@import "/src/scss/fonts";
@import "/src/scss/sizes";
@import "/src/scss/colors";
@import "/src/scss/mixins";

.four-oh-four-container {
    display: flex;
    align-items: flex-end;
    .ze-viers {
        color: $dblue;
        font: {
            family: MontserratSemiBold;
            size: 20rem;
        }
    }
    .ze-second-vier {
        margin: 0 $m;
    }
    .not-found-image-container {
        width: 25rem;
        height: 30rem;
        .not-found-image {
            width: 100%;
            height: 100%;
        }
    }
}
